# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

out/*
src/results/*
src/evaluate_averitec.py
src/evaluate_fever.py
src/safe/multimodal_interpreter.py
src/safe/tools/search/test_local_base.py
src/eval/averitec_score_tests/*