torch>=2.0.1
transformers>=4.40.2
sentence-transformers
langfun==0.0.2.dev20240515
pyglove==0.4.5.dev20240501
openai>=0.27.2
anthropic==0.25.8
Pillow==9.5.0
accelerate==0.25.0
bitsandbytes==0.41.3
duckduckgo_search==6.1.0
nltk==3.8.1
orjsonl==1.0.0
spacy==3.7.4
sty>=1.0.6
tqdm>=4.64.0
numpy>=1.26.0
PyYAML>=6.0.1
rank-bm25==0.2.2
pandas>=2.2.0
scikit-learn>=1.5.0
matplotlib>=3.8.2
huggingface-hub>=0.23.2